@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.eot") format("eot"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.eot") format("eot"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-Italic.eot") format("eot"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/OpenSans-BoldItalic.eot") format("eot"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Futura-LT-W01-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaLT-Book.eot") format("eot"), url("../fonts/FuturaLT-Book.woff") format("woff"), url("../fonts/FuturaLT-Book.ttf") format("truetype"); }
/*
 * https://hankchizljaw.com/wrote/a-modern-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

article > * + * {
  margin-top: 1em; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.burger {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #535a0a;
  cursor: pointer;
  z-index: 1000; }
  .burger__line {
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    margin: 6px 13px;
    background-color: white; }

.close {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #e6deca;
  cursor: pointer;
  z-index: 1000; }
  .close__cross:before, .close__cross:after {
    content: ' ';
    position: absolute;
    top: 13px;
    left: 24px;
    width: 2px;
    height: 25px;
    background-color: #2e251f; }
  .close__cross:before {
    transform: rotate(45deg); }
  .close__cross:after {
    transform: rotate(-45deg); }

.social {
  display: flex; }
  .social__item {
    margin: 0 5px 0 5px;
    width: 35px; }

.nav {
  display: flex; }
  .nav__item {
    position: relative;
    cursor: pointer;
    transition: background-color 0.4s ease 0s; }
    .nav__item:hover > .nav__subitems {
      visibility: visible;
      opacity: 1; }
  .nav__text, .nav__link {
    display: block;
    transition: color 0.4s ease 0s; }
  .nav__link {
    text-decoration: none; }
  .nav__subitems {
    position: absolute;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 10; }

.form__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 35px -15px; }
  @media screen and (max-width: 767px) {
    .form__row {
      flex-direction: column;
      width: 100%;
      margin: 0 -15px 0 -15px; } }
.form__input, .form__textarea {
  width: 100%;
  height: 42px;
  background-color: #dae39b;
  border: 1px solid rgba(37, 42, 4, 0.55);
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
  color: #252A04; }
  .form__input::placeholder, .form__textarea::placeholder {
    color: #252A04; }
  .form__input:hover, .form__textarea:hover {
    border: 1px solid rgba(37, 42, 4, 0.9); }
.form__input {
  margin: 0 15px 0 15px;
  padding: 0 0 0 12px; }
  @media screen and (max-width: 767px) {
    .form__input {
      margin: 0 15px 10px 15px; } }
.form__textarea {
  height: 125px;
  margin: 0 0 10px 0;
  padding: 10px 10px 0 16px;
  resize: none; }
  @media screen and (max-width: 767px) {
    .form__textarea {
      margin: 0; } }
.form_error {
  background-color: #fbf3f3;
  border: 1px solid #f60419; }
  .form_error:hover {
    border: 1px solid #f60419; }
.form__submit {
  height: 40px;
  width: 140px;
  background-color: #7e7a7d;
  border: none;
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s; }
  .form__submit:hover {
    background-color: #a9a5a8; }
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  .form__checkbox:checked + label:before {
    content: '\2713'; }
  .form__checkbox:focus + label:before {
    border: 1px solid #4d90fe; }
.form__checkbox + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer; }
  .form__checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #dae39b;
    border: 1px solid rgba(37, 42, 4, 0.55);
    font-size: 15px;
    line-height: 15px;
    color: #252A04; }
.form__agree {
  margin: 0 0 10px 0;
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
  color: #252A04; }
  .form__agree span {
    width: 290px; }
  .form__agree span, .form__agree a {
    display: block;
    color: #DAE39B; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 175px; }
  .header__logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin: 15px 0 0 0; }
    @media screen and (max-width: 767px) {
      .header__logo {
        margin: 10px 0 0 0;
        width: 125px; } }
  .header__social {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 170px;
    padding: 125px 0 0 60%; }
    @media screen and (max-width: 767px) {
      .header__social {
        padding: 125px 0 0 0; } }
  .header__nav {
    margin: 5px 0 10px 0;
    background-color: #dae39b;
    border-radius: 80px;
    border: solid 0 transparent; }
    @media screen and (max-width: 767px) {
      .header__nav {
        display: none; } }
  .header__burger, .header__close {
    display: none;
    position: fixed; }
    @media screen and (max-width: 767px) {
      .header__burger, .header__close {
        top: 110px;
        right: 10px; } }
  @media screen and (max-width: 767px) {
    .header__burger {
      display: block; } }

.header-nav__item {
  border-left: 1px solid rgba(149, 167, 18, 0.28); }
  .header-nav__item:first-child {
    padding: 0 0 0 5px;
    border: none; }
  .header-nav__item:last-child {
    padding: 0 5px 0 0; }
  .header-nav__item:hover {
    background-color: rgba(255, 255, 255, 0.35); }
.header-nav_selected {
  background-color: rgba(255, 255, 255, 0.75); }
.header-nav__text, .header-nav__link {
  padding: 0 15px;
  text-align: center;
  font: normal normal normal 13px/24px futura-lt-w01-book, Arial, sans-serif;
  color: #696969; }
  .header-nav__text:hover, .header-nav__link:hover {
    color: #000000; }
.header-nav__text {
  color: #000000; }
.header-nav__link:focus {
  background-color: rgba(255, 255, 255, 0.35);
  color: #000000; }
.header-nav__subitems {
  background-color: rgba(247, 245, 225, 0.79); }

.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  width: 85%;
  height: 100vh;
  background: url(../img/mobile-nav-bg.jpg) no-repeat #535a0a;
  background-size: 100%;
  z-index: 1000; }

.mobile-nav {
  margin: 75px 10px 0 10px;
  background-color: rgba(247, 245, 225, 0.74); }
  .mobile-nav ul {
    flex-direction: column; }
  .mobile-nav__item {
    border-bottom: 1px solid rgba(149, 167, 18, 0.28); }
    .mobile-nav__item:hover {
      background-color: rgba(255, 255, 255, 0.35); }
  .mobile-nav_selected {
    background-color: rgba(218, 227, 155, 0.51); }
  .mobile-nav__text {
    color: #7E7A7D; }
  .mobile-nav__link {
    color: #252A04; }
  .mobile-nav__text, .mobile-nav__link {
    padding: 16px 0 16px 16px;
    font: normal normal normal 16px/24px "Open Sans", Arial, sans-serif; }
    .mobile-nav__text:hover, .mobile-nav__text:focus, .mobile-nav__link:hover, .mobile-nav__link:focus {
      color: #000000; }

.footer {
  background-color: #dae39b; }
  .footer__content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px; }
  .footer__title {
    margin: 30px 0 30px 0;
    text-align: center;
    font: normal normal bold 23px/30px "Open Sans", Arial, sans-serif;
    color: #DAE39B;
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .footer__title {
        font-size: 20px;
        margin: 30px 10px 30px 10px; } }
  .footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .footer__row {
        flex-direction: column;
        align-items: center; } }
  .footer__contacts {
    padding: 10px 90px 25px 30px;
    background: rgba(218, 227, 155, 0.7);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid #10a4e3;
    font: normal normal normal 16px/20px "Open Sans", Arial, sans-serif;
    color: #535A0A; }
    .footer__contacts h4 {
      font: normal normal normal 16px/20px "Open Sans", Arial, sans-serif; }
    .footer__contacts p {
      margin-left: 8px; }
    .footer__contacts a {
      color: #535A0A;
      text-decoration: none; }
    @media screen and (max-width: 1000px) {
      .footer__contacts {
        padding: 10px 70px 25px 15px; } }
  .footer__form {
    width: 510px; }
    @media screen and (max-width: 1000px) {
      .footer__form {
        width: 300px; } }
    @media screen and (max-width: 767px) {
      .footer__form {
        margin: 25px 0 0 0; } }

.footer-nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 60px; }
  .footer-nav__text {
    color: #95A712; }
  .footer-nav__link {
    color: #282527; }
  .footer-nav__text, .footer-nav__link {
    padding: 0 15px 0 15px;
    font: normal normal normal 12px/24px "Open Sans", Arial, sans-serif; }
    .footer-nav__text:hover, .footer-nav__text:focus, .footer-nav__link:hover, .footer-nav__link:focus {
      color: #95A712; }
  @media screen and (max-width: 767px) {
    .footer-nav {
      display: none; } }

.loader {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  display: none; }

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  opacity: 0.6;
  background-color: white;
  display: none; }

.video-bg {
  position: absolute;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .video-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%); } }

.text_big {
  padding: 8px 0 8px 0;
  font-size: 30px; }
  @media screen and (max-width: 1000px) {
    .text_big {
      padding: 5px 0 5px 0;
      font-size: 25px; } }

.text_bold {
  font-weight: bold; }

main {
  background-color: cadetblue;
  min-height: 100px; }

/*# sourceMappingURL=style.css.map */
