@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.eot") format("eot"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.eot") format("eot"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-Italic.eot") format("eot"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/OpenSans-BoldItalic.eot") format("eot"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Futura-LT-W01-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaLT-Book.eot") format("eot"), url("../fonts/FuturaLT-Book.woff") format("woff"), url("../fonts/FuturaLT-Book.ttf") format("truetype"); }
@font-face {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Georgia.eot") format("eot"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype"); }
@font-face {
  font-family: "marck script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MarckScript-Regular.eot") format("eot"), url("../fonts/MarckScript-Regular.woff") format("woff"), url("../fonts/MarckScript-Regular.ttf") format("truetype"); }
/*
 * https://hankchizljaw.com/wrote/a-modern-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

article > * + * {
  margin-top: 1em; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.burger {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #535a0a;
  cursor: pointer;
  z-index: 1000; }
  .burger__line {
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    margin: 6px 13px;
    background-color: white; }

.close {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: #e6deca;
  cursor: pointer;
  z-index: 1000; }
  .close__cross:before, .close__cross:after {
    content: ' ';
    position: absolute;
    top: 13px;
    left: 24px;
    width: 2px;
    height: 25px;
    background-color: #2e251f; }
  .close__cross:before {
    transform: rotate(45deg); }
  .close__cross:after {
    transform: rotate(-45deg); }

.arrow {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 2px solid #95a712;
  background-color: #dae39b;
  cursor: pointer;
  z-index: 900; }
  .arrow svg {
    height: 35px;
    width: 30px;
    padding: 5px 0 0 0;
    stroke: #95a712; }
    .arrow svg:hover {
      stroke: #535a0a; }

.social {
  display: flex; }
  .social__item {
    margin: 0 5px 0 5px;
    width: 35px; }

.nav {
  display: flex; }
  .nav__item {
    position: relative;
    cursor: pointer;
    transition: background-color 0.4s ease 0s; }
    .nav__item:hover > .nav__subitems {
      visibility: visible;
      opacity: 1; }
  .nav__text, .nav__link {
    display: block;
    transition: color 0.4s ease 0s; }
  .nav__link {
    text-decoration: none; }
  .nav__subitems {
    position: absolute;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 10; }

.check {
  display: block;
  padding: 0 0 0 20px;
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
  color: black; }
  .check__box {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 0 0 0 -20px;
    border: 1px solid black;
    background-color: white; }
    .check__box_error {
      background-color: white;
      border: 1px solid red; }
  .check__input:checked + .check__box {
    background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpolyline fill="none" stroke="%23000000" stroke-width="3" points="1.079 4.999 5 9 10.837 2"/%3E%3C/svg%3E'); }
  .check__input:focus + .check__box {
    border: 1px solid #4D90FE; }
  .check__input:disabled + .check__box {
    background-color: #BFBFBF;
    border: 1px solid #909090; }

.form {
  max-width: 100%; }
  .form__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 35px -15px; }
    @media screen and (max-width: 767px) {
      .form__row {
        flex-direction: column;
        width: 100%;
        margin: 0 -15px 0 -15px; } }
  .form__input, .form__textarea {
    width: 100%;
    height: 42px;
    background-color: white;
    border: 1px solid black;
    font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
    color: black; }
    .form__input::placeholder, .form__textarea::placeholder {
      color: black; }
    .form__input:hover, .form__textarea:hover {
      border: 1px solid black; }
  .form__input {
    margin: 0 15px 0 15px;
    padding: 0 0 0 12px; }
    @media screen and (max-width: 767px) {
      .form__input {
        margin: 0 15px 10px 15px; } }
  .form__textarea {
    height: 125px;
    margin: 0 0 10px 0;
    padding: 10px 10px 0 16px;
    resize: none; }
    @media screen and (max-width: 767px) {
      .form__textarea {
        margin: 0; } }
  .form_error {
    background-color: white;
    border: 1px solid red; }
    .form_error:hover {
      border: 1px solid red; }
  .form__submit {
    height: 40px;
    width: 140px;
    background-color: #7e7a7d;
    border: none;
    font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
    color: white;
    cursor: pointer;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s; }
    .form__submit:hover {
      background-color: #a9a5a8; }
  .form__agree {
    width: 290px;
    margin: 0 0 10px 0;
    font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
    color: black; }
    .form__agree a {
      color: black; }

.form_small {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 -40px 0 -40px;
  padding: 0; }
  .form_small .form__col {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    padding: 0; }
  .form_small .form__row {
    margin: 0;
    padding: 0; }
  .form_small .form__input {
    margin: 0 0 40px 0;
    padding: 0 0 0 6px;
    width: 212px;
    height: 27px; }
  .form_small .form__textarea {
    margin: 0 0 20px 0;
    width: 510px;
    height: 88px; }
  @media screen and (max-width: 1000px) {
    .form_small {
      margin: 0 -20px 0 -20px; }
      .form_small .form__col {
        margin: 0 20px 0 20px; } }
  @media screen and (max-width: 767px) {
    .form_small {
      flex-direction: column;
      margin: 0; }
      .form_small .form__col {
        margin: 0 auto 0 auto; }
      .form_small .form__input, .form_small .form__textarea {
        margin: 0 0 10px 0;
        width: 300px; } }

.form_green .form__input, .form_green .form__textarea {
  background-color: #dae39b;
  border: 1px solid rgba(37, 42, 4, 0.55);
  color: #252A04; }
  .form_green .form__input::placeholder, .form_green .form__textarea::placeholder {
    color: #252A04; }
  .form_green .form__input:hover, .form_green .form__textarea:hover {
    border: 1px solid rgba(37, 42, 4, 0.9); }
.form_green .form_error {
  background-color: #fbf3f3;
  border: 1px solid #f60419; }
  .form_green .form_error:hover {
    border: 1px solid #f60419; }
.form_green .form__agree {
  text-shadow: 1px 1px 2px black;
  color: #DAE39B; }
  .form_green .form__agree a {
    color: #DAE39B; }
.form_green .check {
  color: #DAE39B; }
  .form_green .check__box {
    border: 1px solid rgba(37, 42, 4, 0.55);
    background-color: #dae39b; }
    .form_green .check__box_error {
      background-color: #fbf3f3;
      border: 1px solid #f60419; }
  .form_green .check__input:checked + .form_green .check__box {
    background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpolyline fill="none" stroke="%23414A07" stroke-width="3" points="1.079 4.999 5 9 10.837 2"/%3E%3C/svg%3E'); }
  .form_green .check__input:focus + .form_green .check__box {
    border: 1px solid #4D90FE; }
  .form_green .check__input:disabled + .form_green .check__box {
    background-color: #BFBFBF;
    border: 1px solid #909090; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 160px; }
  .header__logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin: 10px 0 0 0; }
    @media screen and (max-width: 767px) {
      .header__logo {
        margin: 10px 0 0 0;
        width: 125px; } }
  .header__social {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 160px;
    padding: 115px 0 0 60%; }
    @media screen and (max-width: 767px) {
      .header__social {
        padding: 115px 0 0 0; } }
  .header__nav {
    margin: 5px 0 10px 0;
    background-color: #dae39b;
    border-radius: 80px;
    border: solid 0 transparent; }
    @media screen and (max-width: 767px) {
      .header__nav {
        display: none; } }
  .header__burger, .header__close {
    display: none;
    position: fixed; }
    @media screen and (max-width: 767px) {
      .header__burger, .header__close {
        top: 105px;
        right: 10px; } }
  @media screen and (max-width: 767px) {
    .header__burger {
      display: block; } }
  .header__arrow {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px; }
    @media screen and (max-width: 767px) {
      .header__arrow {
        bottom: 50px; } }

.header-nav__item {
  border-left: 1px solid rgba(149, 167, 18, 0.28); }
  .header-nav__item:first-child {
    padding: 0 0 0 5px;
    border: none; }
  .header-nav__item:last-child {
    padding: 0 5px 0 0; }
  .header-nav__item:hover {
    background-color: rgba(255, 255, 255, 0.35); }
.header-nav_selected {
  background-color: rgba(255, 255, 255, 0.75); }
.header-nav__text, .header-nav__link {
  padding: 0 15px;
  text-align: center;
  font: normal normal normal 13px/24px Futura-LT-W01-Book, Arial, sans-serif;
  color: #696969; }
  .header-nav__text:hover, .header-nav__link:hover {
    color: #000000; }
.header-nav__text {
  color: #000000; }
.header-nav__link:focus {
  background-color: rgba(255, 255, 255, 0.35);
  color: #000000; }
.header-nav__subitems {
  background-color: rgba(247, 245, 225, 0.79); }

.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  width: 85%;
  height: 100vh;
  background: url(../img/mobile-nav-bg.jpg) no-repeat #535a0a;
  background-size: 100%;
  z-index: 1000; }

.mobile-nav {
  margin: 75px 10px 0 10px;
  background-color: rgba(247, 245, 225, 0.74); }
  .mobile-nav ul {
    flex-direction: column; }
  .mobile-nav__item {
    border-bottom: 1px solid rgba(149, 167, 18, 0.28); }
    .mobile-nav__item:hover {
      background-color: rgba(255, 255, 255, 0.35); }
  .mobile-nav_selected {
    background-color: rgba(218, 227, 155, 0.51); }
  .mobile-nav__text {
    color: #7E7A7D; }
  .mobile-nav__link {
    color: #252A04; }
  .mobile-nav__text, .mobile-nav__link {
    padding: 16px 0 16px 16px;
    font: normal normal normal 16px/24px "Open Sans", Arial, sans-serif; }
    .mobile-nav__text:hover, .mobile-nav__text:focus, .mobile-nav__link:hover, .mobile-nav__link:focus {
      color: #000000; }

.footer {
  background-color: white; }
  .footer__content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px; }
  .footer__title {
    margin: 30px 0 30px 0;
    text-align: center;
    font: normal normal bold 23px/30px "Open Sans", Arial, sans-serif;
    color: #20303C;
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .footer__title {
        font-size: 20px;
        margin: 30px 10px 30px 10px; } }
  .footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    z-index: 1; }
    @media screen and (max-width: 767px) {
      .footer__row {
        flex-direction: column;
        align-items: center; } }
  .footer__contacts {
    padding: 10px 90px 25px 30px;
    background: url(../img/shadow.png) repeat-x 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid #10a4e3;
    font: normal normal normal 16px/20px "Open Sans", Arial, sans-serif;
    color: #20303C; }
    .footer__contacts h4 {
      font: normal normal normal 16px/20px "Open Sans", Arial, sans-serif; }
    .footer__contacts p {
      margin-left: 8px; }
    .footer__contacts a {
      color: #20303C;
      text-decoration: none; }
    @media screen and (max-width: 1000px) {
      .footer__contacts {
        padding: 10px 70px 25px 15px; } }
  .footer__form {
    width: 510px; }
    @media screen and (max-width: 1000px) {
      .footer__form {
        width: 300px; } }
    @media screen and (max-width: 767px) {
      .footer__form {
        margin: 25px 0 0 0; } }

.footer_green {
  background-color: #dae39b; }
  .footer_green .footer__title {
    text-shadow: 1px 1px 2px black;
    color: #DAE39B; }
  .footer_green .footer__contacts {
    background-color: rgba(218, 227, 155, 0.7);
    color: #535A0A; }
    .footer_green .footer__contacts a {
      color: #535A0A; }

.footer-nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 60px; }
  .footer-nav__text {
    color: #95A712; }
  .footer-nav__link {
    color: #282527; }
  .footer-nav__text, .footer-nav__link {
    padding: 0 15px 0 15px;
    font: normal normal normal 12px/24px "Open Sans", Arial, sans-serif; }
    .footer-nav__text:hover, .footer-nav__text:focus, .footer-nav__link:hover, .footer-nav__link:focus {
      color: #95A712; }
  @media screen and (max-width: 767px) {
    .footer-nav {
      display: none; } }

.mobile-panel {
  display: none;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0 5px 0;
  background-color: #ffffff; }
  .mobile-panel__phone, .mobile-panel__email {
    text-decoration: none; }
    .mobile-panel__phone svg, .mobile-panel__email svg {
      width: 50px;
      height: 30px; }
  .mobile-panel__phone {
    fill: #63C956; }
  .mobile-panel__email {
    fill: #BE1867; }
  @media screen and (max-width: 767px) {
    .mobile-panel {
      display: flex; } }

main {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: url(../img/shadow.png) repeat-x 0 0 #95a712; }
  main .video-bg {
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%); }

.content {
  position: relative;
  margin: 0 auto 50px auto;
  padding: 75px 45px 100px 45px;
  max-width: 1000px;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: italic normal normal 12px/15px "Open Sans", Arial, sans-serif;
  color: #282527; }
  @media screen and (max-width: 767px) {
    .content {
      margin: 0 auto 0 auto;
      padding: 20px 25px 50px 25px;
      min-height: 600px; } }
  .content h1 {
    margin: 0 0 35px 0;
    font-size: 28px;
    line-height: normal; }
    @media screen and (max-width: 767px) {
      .content h1 {
        text-align: center;
        font-size: 24px; } }
  .content h2 {
    margin: 10px 0 5px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: normal; }
    @media screen and (max-width: 767px) {
      .content h2 {
        font-size: 20px; } }
  .content_full-width {
    margin: 0;
    max-width: 100%; }
    @media screen and (max-width: 767px) {
      .content_full-width {
        margin: 0; } }

.breadcrumbs {
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif;
  margin: 0 0 10px 0; }
  .breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .breadcrumbs ul li {
      display: inline-block;
      vertical-align: top; }
    .breadcrumbs ul li + li:before {
      content: "/"; }

.reviews {
  display: flex;
  flex-direction: column;
  margin: -30px 0 -30px 0;
  padding: 0;
  font: normal normal normal 12px/16px Verdana, Geneva, Arial, sans-serif; }
  .reviews__item {
    display: flex;
    align-items: flex-start;
    margin: 30px 0 30px 0;
    padding: 0; }
    @media screen and (max-width: 767px) {
      .reviews__item {
        flex-direction: column;
        align-items: center; } }
  @media screen and (max-width: 767px) {
    .reviews__row {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      width: 100%;
      margin: 0 0 10px 0; } }
  .reviews__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 170px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #95a712;
    border: 2px solid #95a712; }
    .reviews__image img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }
  .reviews__label {
    margin: 5px 0 0 0;
    padding: 0;
    max-width: 120px; }
  .reviews__text {
    margin: 0 0 0 20px;
    padding: 15px 30px 15px 15px;
    background: url(../img/shadow.png) repeat-x 0 0 #dae39b; }
    @media screen and (max-width: 767px) {
      .reviews__text {
        margin: 0; } }

.contacts {
  background: rgba(255, 255, 255, 0.6);
  font: normal normal normal 16px/1.3em Verdana, Geneva, Arial, sans-serif;
  color: #535A0A; }
  .contacts h1 {
    font: italic normal normal 34px/1.1em Verdana, Geneva, Arial, sans-serif;
    color: #282527; }
  .contacts a {
    color: #535A0A;
    text-decoration: none; }
  .contacts__form {
    margin: 100px 40px 0 40px; }
    @media screen and (max-width: 767px) {
      .contacts__form {
        margin: 100px 10px 0 10px; } }
    .contacts__form .form__input, .contacts__form .form__textarea {
      background-color: rgba(218, 227, 155, 0.6);
      color: #535a0a; }
      .contacts__form .form__input::placeholder, .contacts__form .form__textarea::placeholder {
        color: #535a0a; }
    .contacts__form .form_error {
      background-color: rgba(251, 243, 243, 0.6); }
    .contacts__form .form__agree {
      text-shadow: none;
      color: #282527; }
      .contacts__form .form__agree a {
        color: #282527;
        text-decoration: underline; }
    .contacts__form .check {
      color: #282527; }
      .contacts__form .check__box {
        background-color: rgba(218, 227, 155, 0.6); }
        .contacts__form .check__box_error {
          background-color: rgba(251, 243, 243, 0.6); }

.articles {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: normal normal normal 14px/1.3em "Open Sans", Arial, sans-serif;
  color: #282527; }
  .articles h2 {
    margin: 0 55px 50px 55px;
    color: #535A0A;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal; }
    .articles h2 a {
      color: #535A0A; }
  .articles__item {
    display: flex;
    align-items: center;
    background-color: #dae39b; }
    .articles__item:nth-child(odd) {
      background-color: #e8dfc5; }
      .articles__item:nth-child(odd) .articles__image {
        order: 1; }
  .articles__image {
    margin: 0;
    padding: 0;
    max-width: 500px;
    min-width: 500px; }
    .articles__image img {
      margin: 0;
      padding: 0;
      width: 100%; }
  .articles__row {
    padding: 40px 70px 30px 70px; }
  .articles__label {
    font-size: 12px;
    padding: 10px 0 0 0;
    font-style: italic; }
  @media screen and (min-width: 1400px) {
    .articles__image {
      max-width: 600px;
      min-width: 600px; }
    .articles__row {
      padding: 50px 150px 50px 150px; } }
  @media screen and (max-width: 1024px) {
    .articles__item {
      flex-direction: column; }
      .articles__item:nth-child(odd) .articles__image {
        order: 0; }
    .articles__image {
      min-width: auto; }
    .articles__row {
      padding: 20px 30px 30px 30px; } }
  @media screen and (max-width: 767px) {
    .articles h2 {
      margin: 0 15px 25px 15px;
      font-size: 18px; }
    .articles__row {
      padding: 10px 30px 70px 30px; } }

.article {
  padding: 75px 15% 100px 15%;
  font: normal normal normal 14px/1.3em Verdana, Geneva, Arial, sans-serif; }
  .article h1 {
    font: normal normal normal 34px/1.3em "Open Sans", Arial, sans-serif;
    color: #535A0A; }
    @media screen and (max-width: 767px) {
      .article h1 {
        text-align: center;
        font-size: 24px; } }
  .article img {
    margin: 5px auto 10px auto; }
  @media screen and (min-width: 1400px) {
    .article {
      padding: 75px 25% 100px 25%; } }
  @media screen and (max-width: 1024px) {
    .article {
      padding: 75px 10% 100px 10%; } }

.mainpage-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px 0px -15px;
  padding: 50px 0 100px 0;
  background: url(../img/shadow.png) repeat-x 0 0, url(../img/grass.png) left bottom repeat-x #dae39b;
  font: normal normal normal 18px/1.3em "Open Sans", Arial, sans-serif;
  color: #252A04;
  text-align: center; }
  .mainpage-nav a {
    color: #252A04;
    text-decoration: none; }
  .mainpage-nav__item {
    display: block;
    margin: 0 15px 0 15px;
    padding: 0; }
  .mainpage-nav__image {
    margin: 0 0 20px 0;
    overflow: hidden;
    border-radius: 15px;
    width: 320px;
    height: 426px; }
    .mainpage-nav__image img {
      width: 100%;
      height: 100%;
      transition: all 1s ease-out; }
      .mainpage-nav__image img:hover {
        transform: scale(1.1); }
  @media screen and (max-width: 767px) {
    .mainpage-nav {
      margin: 0;
      padding: 50px 0 70px 0; }
      .mainpage-nav__item {
        margin: 0 0 30px 0; }
      .mainpage-nav__image {
        margin: 0 0 10px 0; } }

.mainpage-text {
  margin: 0;
  padding: 20px 15% 20px 15%;
  background: url(../img/shadow.png) repeat-x 0 0 #FAFAFA;
  font: normal normal normal 16px/1.3em "Open Sans", Arial, sans-serif;
  color: #535A0A; }
  .mainpage-text a {
    font-weight: bold;
    color: #535A0A; }
  @media screen and (max-width: 767px) {
    .mainpage-text {
      padding: 20px 30px 20px 30px; } }

.mainpage-news {
  margin: 0;
  padding: 5px 15% 5px 15%;
  background: url(../img/shadow.png) repeat-x 0 0 #dae39b;
  font: normal normal normal 12px/1.3em Verdana, Geneva, Arial, sans-serif;
  color: #282527; }
  .mainpage-news__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: url(../img/shadow.png) repeat-x 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid #10a4e3; }
  .mainpage-news__title {
    margin: 0;
    padding: 20px 0 40px 0;
    font: italic bold normal 24px/1.1em "Open Sans", Arial, sans-serif;
    color: #535A0A;
    text-align: center; }
    .mainpage-news__title a {
      color: #535A0A; }
  .mainpage-news__item {
    display: flex;
    align-items: flex-start;
    margin: 0 40px 20px 40px;
    padding: 0 0 20px 0;
    border-bottom: solid #000000 1px; }
    .mainpage-news__item:last-child {
      border: none; }
  .mainpage-news__image {
    margin: 0;
    padding: 0;
    max-width: 330px;
    min-width: 330px;
    height: 200px; }
    .mainpage-news__image img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }
  .mainpage-news__row {
    margin: 0 0 0 35px;
    padding: 0; }
    .mainpage-news__row h3 {
      font: normal normal normal 18px/1.3em "Open Sans", Arial, sans-serif;
      color: #535A0A; }
  .mainpage-news__label {
    color: #535A0A; }
  .mainpage-news__text {
    margin: 15px 0 0 0;
    padding: 0; }
  .mainpage-news__link {
    display: block;
    margin: 40px 0 0 0;
    padding: 3px 0 0 0;
    width: 160px;
    height: 40px;
    background-color: #95a712;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    border: solid #95a712 3px;
    border-radius: 5px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    font: normal normal normal 19px/1.4em "Open Sans", Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center; }
    .mainpage-news__link:hover {
      background-color: #dae39b;
      border-color: #dae39b;
      transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s; }
  @media screen and (max-width: 1024px) {
    .mainpage-news {
      padding: 5px 30px 5px 30px; } }
  @media screen and (max-width: 767px) {
    .mainpage-news {
      padding: 5px 30px 5px 30px; }
      .mainpage-news__item {
        flex-direction: column;
        margin: 0 5px 20px 5px; }
      .mainpage-news__image {
        margin: 0 auto 0 auto;
        min-width: auto;
        height: auto; }
      .mainpage-news__row {
        margin: 0;
        padding: 0 2px 0 2px; }
        .mainpage-news__row h3 {
          margin: 15px 0 0 0;
          font-size: 16px; }
      .mainpage-news__link {
        margin: 40px auto 0 auto; } }

.mainpage-advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 35px 15% 25px 15%;
  background: #dae39b;
  font: italic normal normal 14px/1.5em Verdana, Geneva, Arial, sans-serif;
  color: #FFFFFF; }
  .mainpage-advantages__title {
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    font: italic bold normal 24px/1.1em "Open Sans", Arial, sans-serif;
    color: #535A0A;
    text-align: center; }
  .mainpage-advantages__item {
    margin: 0 0 10px 0;
    padding: 0;
    align-content: space-between;
    flex-basis: 32%;
    background: #514920; }
    .mainpage-advantages__item:nth-child(5n-3) {
      background: url(../img/advantages.png) no-repeat 0 0 #85B354;
      background-size: cover; }
    .mainpage-advantages__item:nth-child(5n-2) {
      background: #535A0A; }
    .mainpage-advantages__item:nth-child(5n-1) {
      background: #999170; }
    .mainpage-advantages__item:nth-child(5n) {
      background: #95a712; }
    .mainpage-advantages__item h3 {
      min-height: 40px;
      font: normal normal normal 15px/1.3em Verdana, Geneva, Arial, sans-serif;
      color: #DAE39B;
      text-align: center; }
  .mainpage-advantages__image {
    margin: 10px auto 15px auto;
    padding: 0;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #FFFFFF;
    overflow: hidden; }
  .mainpage-advantages__text {
    margin: 30px 7px 10px 7px;
    padding: 0;
    font: italic normal normal 14px/1.5em georgia, palatino, book antiqua, palatino linotype, serif;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px black; }
    .mainpage-advantages__text a {
      color: #FFFFFF; }
  @media screen and (max-width: 1024px) {
    .mainpage-advantages {
      padding: 35px 30px 25px 30px; } }
  @media screen and (max-width: 767px) {
    .mainpage-advantages {
      flex-direction: column;
      padding: 5px 30px 5px 30px; }
      .mainpage-advantages__item h3 {
        margin: 0 7px 0 7px; }
      .mainpage-advantages__text {
        margin: 10px 7px 10px 7px; } }

.portfolio {
  margin: 0;
  padding: 0 0 50px 0;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: italic normal normal 14px/1.1em "Open Sans", Arial, sans-serif;
  color: #535A0A; }
  .portfolio h1 {
    margin: 0;
    padding: 70px 0 50px 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center; }
  .portfolio h2 {
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: normal; }
  .portfolio__form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 20px 0 20px 0; }
    .portfolio__form form, .portfolio__form h3 {
      z-index: 1; }
    .portfolio__form h3 {
      margin: 0 0 20px 0;
      padding: 0;
      width: 100%;
      font: normal bold normal 23px/1.3em "Open Sans", Arial, sans-serif;
      color: #481E0E;
      text-align: center; }
    .portfolio__form_green h3 {
      color: #DAE39B; }
  @media screen and (max-width: 767px) {
    .portfolio__form h3 {
      margin: 0 10px 20px 10px;
      font-size: 20px; } }

.portfolio-slider {
  width: 1120px;
  margin: 0 auto 0 auto;
  padding: 0; }
  .portfolio-slider .slick-arrow::before {
    color: #535A0A; }
  .portfolio-slider__image {
    position: relative;
    display: block;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 360px;
    height: 270px;
    border: solid 1px #DAE39B; }
    .portfolio-slider__image::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent;
      transition: background 0.4s ease 0s; }
    .portfolio-slider__image:hover::before {
      background: rgba(0, 0, 0, 0.5);
      transition: background 0.4s ease 0s; }
    .portfolio-slider__image img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }
  @media screen and (max-width: 1024px) {
    .portfolio-slider {
      width: 740px; } }
  @media screen and (max-width: 767px) {
    .portfolio-slider {
      width: 360px; } }

.autowatering .slick-dotted.slick-slider {
  margin: 0; }

.autowatering-slider {
  background: #DAE39B; }
  .autowatering-slider__slide {
    height: 565px; }
  .autowatering-slider__image {
    height: 565px;
    overflow: hidden; }
    .autowatering-slider__image img {
      width: 100%;
      min-width: 100%;
      min-height: 100%; }
  .autowatering-slider__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    min-width: 1000px;
    font: normal normal normal 60px/1em "marck script", cursive;
    color: #F7F5E1;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px; }
    .autowatering-slider__content h2 {
      margin: 150px 0 0 0;
      width: 100%;
      font-style: italic;
      font-weight: normal;
      font-size: 100px; }
    .autowatering-slider__content .animated {
      transition: all .5s ease; }
    .autowatering-slider__content .animated_left {
      margin: 100px 0 0 -370px; }
    .autowatering-slider__content .animated_right {
      margin: 20px 0 0 270px; }
    .autowatering-slider__content [data-animation-in] {
      opacity: 0;
      animation-duration: 1.5s;
      transition: opacity 0.5s ease 0.3s; }
  .autowatering-slider .slick-arrow {
    z-index: 1001; }
    .autowatering-slider .slick-arrow::before {
      color: #DAE39B;
      font-size: 40px; }
  .autowatering-slider .slick-prev {
    left: 80px; }
  .autowatering-slider .slick-next {
    right: 100px; }
  .autowatering-slider .slick-dots {
    bottom: 20px; }
    .autowatering-slider .slick-dots li button:before {
      color: #DAE39B;
      font-size: 10px;
      opacity: 0.75; }
    .autowatering-slider .slick-dots li.slick-active button:before {
      opacity: 1; }
  @media screen and (max-width: 1024px) {
    .autowatering-slider__slide {
      position: relative;
      height: 316px; }
    .autowatering-slider__image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 316px;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%); }
      .autowatering-slider__image img {
        max-width: none; }
    .autowatering-slider__content {
      min-width: 700px;
      font: normal normal normal 40px/1em "marck script", cursive; }
      .autowatering-slider__content h2 {
        margin: 80px 0 0 0;
        font-size: 70px; }
      .autowatering-slider__content .animated_left {
        margin: 40px 0 0 -250px; }
      .autowatering-slider__content .animated_right {
        margin: 20px 0 0 230px; } }
  @media screen and (max-width: 767px) {
    .autowatering-slider__content {
      min-width: 700px;
      font: normal normal normal 30px/1em "marck script", cursive; }
      .autowatering-slider__content h2 {
        margin: 70px 0 0 0;
        font-size: 60px; }
      .autowatering-slider__content .animated_left {
        margin: 40px 0 0 0; }
      .autowatering-slider__content .animated_right {
        margin: 20px 0 0 0; } }
  @media screen and (max-width: 480px) {
    .autowatering-slider__content {
      min-width: 450px;
      font: normal normal normal 30px/1em "marck script", cursive; }
      .autowatering-slider__content h2 {
        margin: 70px 0 0 0;
        font-size: 40px; }
      .autowatering-slider__content .animated_left {
        margin: 40px 0 0 0; }
      .autowatering-slider__content .animated_right {
        margin: 20px 0 0 0; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.loader {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  display: none; }

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  opacity: 0.6;
  background-color: white;
  display: none; }

.video-bg {
  position: absolute;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .video-bg {
      top: 50%;
      left: 50%;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%); } }

.text_big {
  padding: 8px 0 8px 0;
  font-size: 30px; }
  @media screen and (max-width: 1000px) {
    .text_big {
      padding: 5px 0 5px 0;
      font-size: 25px; } }

.text_bold {
  font-weight: bold; }

.flex {
  display: flex;
  flex-wrap: wrap; }

/*# sourceMappingURL=style.css.map */
