.burger {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(83, 90, 10, 1);
  cursor: pointer;
  z-index: 1000;

  &__line {
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    margin: 6px 13px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.close {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(230, 222, 202, 1);
  cursor: pointer;
  z-index: 1000;

  &__cross {
    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 13px;
      left: 24px;
      width: 2px;
      height: 25px;
      background-color: rgba(46, 37, 31, 1);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}