@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot') format("eot"), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.eot') format("eot"), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.eot') format("eot"), url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/OpenSans-BoldItalic.eot') format("eot"), url('../fonts/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Futura-LT-W01-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaLT-Book.eot") format("eot"), url("../fonts/FuturaLT-Book.woff") format("woff"), url("../fonts/FuturaLT-Book.ttf") format("truetype");
}