.footer {
  background-color: white;

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
  }

  &__title {
    margin: 30px 0 30px 0;
    text-align: center;
    font: normal normal bold 23px/30px $Sans;
    color: #20303C;
    z-index: 1;

    @include media(mobile) {
      font-size: 20px;
      margin: 30px 10px 30px 10px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    z-index: 1;

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__contacts {
    padding: 10px 90px 25px 30px;
    background: url(../img/shadow.png) repeat-x 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(16, 164, 227, 1);
    font: normal normal normal 16px/20px $Sans;
    color: #20303C;

    h4 {
      font: normal normal normal 16px/20px $Sans;
    }

    p {
      margin-left: 8px;
    }

    a {
      color: #20303C;
      text-decoration: none;
    }

    @include media(adaptive) {
      padding: 10px 70px 25px 15px;
    }
  }

  &__form {
    width: 510px;

    @include media(adaptive) {
      width: 300px;
    }

    @include media(mobile) {
      margin: 25px 0 0 0;
    }
  }
}

.footer_green {
  background-color: #dae39b;

  .footer__title {
    text-shadow: 1px 1px 2px black;
    color: #DAE39B;
  }

  .footer__contacts {
    background-color: rgba(218, 227, 155, 0.7);
    color: #535A0A;

    a {
      color: #535A0A;
    }
  }
}

.footer-nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 60px;

  &__text {
    color: #95A712;
  }

  &__link {
    color: #282527;
  }

  &__text, &__link {
    padding: 0 15px 0 15px;
    font: normal normal normal 12px/24px $Sans;

    &:hover, &:focus {
      color: #95A712;
    }
  }

  @include media(mobile) {
    display: none;
  }
}

.mobile-panel {
  display: none;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0 5px 0;
  background-color: #ffffff;

  &__phone, &__email {
    text-decoration: none;

    svg {
      width: 50px;
      height: 30px;
    }
  }

  &__phone {
    fill: #63C956;
  }

  &__email {
    fill: #BE1867;
  }

  @include media(mobile) {
    display: flex;
  }
}