.slider {
  background: #FFFFFF;

  &__slide {
    height: 565px;

    @include media(tablet) {
      position: relative;
      height: 315px;
    }
  }

  &__image {
    height: 565px;
    overflow: hidden;

    img {
      width: 100%;
      min-width: 100%;
      min-height: 100%;
    }

    @include media(tablet) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 315px;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);

      img {
        max-width: none;
      }
    }
  }

  &__content {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
    min-width: 1000px;
    font: normal normal normal 60px/1em $Marck;
    color: #F7F5E1;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;

    @include media(tablet) {
      top: 90px;
      min-width: 700px;
      font-size: 40px;
    }

    @include media(phone) {
      min-width: 370px;
      font-size: 30px;
    }
  }

  h2 {
    margin: 0 0 110px 0;
    width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 100px;

    @include media(tablet) {
      margin-bottom: 60px;
      font-size: 60px;
    }

    @include media(mobile) {
      margin-bottom: 40px;
    }

    @include media(phone) {
      font-size: 40px;
    }
  }

  .animated {
    transition: all .5s ease;

    &_left {
      margin: 0 0 10px -370px;

      @include media(tablet) {
        margin-left: -250px;
      }

      @include media(mobile) {
        margin-left: 0;
      }
    }

    &_right {
      margin: 0 0 0 270px;

      @include media(tablet) {
        margin-left: 230px;
      }

      @include media(mobile) {
        margin-left: 0;
      }
    }
  }

  [data-animation-in] {
    opacity: 0;
    animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
  }

  .slick-arrow {
    z-index: 1001;

    &::before {
      color: #FFFFFF;
      font-size: 40px;
    }
  }

  .slick-prev {
    left: 80px;
  }

  .slick-next {
    right: 100px;
  }

  .slick-dots {
    bottom: 20px;

    li button:before {
      color: #FFFFFF;
      font-size: 10px;
      opacity: 0.75;
    }

    li.slick-active button:before {
      opacity: 1;
    }
  }
}

.slider_small {
  .slider__slide {
    height: 410px;
  }

  .slider__image {
    height: 410px;
  }

  .slider__content {
    top: 130px;
    font-size: 50px;

    @include media(tablet) {
      font-size: 40px;
    }

    @include media(phone) {
      font-size: 30px;
    }
  }

  h2 {
    margin-bottom: 70px;
    font-size: 60px;

    @include media(mobile) {
      margin-bottom: 40px;
    }

    @include media(phone) {
      font-size: 40px;
    }
  }
}

.slider_green {
  background: #DAE39B;

  .slick-arrow {
    &::before {
      color: #DAE39B;
    }
  }

  .slick-dots {
    li button:before {
      color: #DAE39B;
    }
  }
}

.reviews-slider {
  max-width: 980px;
  margin: 0 auto 0 auto;
  padding: 0;

  &__item {
    padding: 56px 0 0 0;
    min-height: 678px;
    background: url(../img/reviews-slider-bg-1.jpg) no-repeat 0 0;

    &:nth-child(2n) {
      background: url(../img/reviews-slider-bg-2.jpg) no-repeat 0 0;
    }

    &:nth-child(3n) {
      background: url(../img/reviews-slider-bg-3.jpg) no-repeat 0 0;
    }

    &:nth-child(4n) {
      background: url(../img/reviews-slider-bg-4.jpg) no-repeat 0 0;
    }

    &:nth-child(5n) {
      background: url(../img/reviews-slider-bg-5.jpg) no-repeat 0 0;
    }

    &:nth-child(6n) {
      background: url(../img/reviews-slider-bg-6.jpg) no-repeat 0 0;
    }

    @include media(tablet) {
      padding: 56px 0 0 0;
    }

    @include media(mobile) {
      padding: 5px 5px 5px 5px;
      min-height: 510px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__image {
    position: relative;
    width: 374px;
    height: 541px;
    border: 2px solid black;
    background: #FFFFFF;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 1px solid black;
    }

    @include media(tablet) {
      width: 320px;
      height: 470px;
    }

    @include media(mobile) {
      width: 350px;
      height: 500px;
    }

    img {
      margin: 0;
      padding: 5px;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding: 0 10px 30px 10px;
    width: 431px;
    max-height: 622px;
    background: url(../img/shadow.png) repeat-x 0 0 rgba(255, 255, 255, 0.82);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
    border: 1px solid rgba(16, 164, 227, 1);
    border-radius: 5px;
    font: normal normal normal 14px/1.5em $Verdana;
    color: #000000;
    text-align: center;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      margin: 16px auto 7px auto;
      width: 22px;
      height: 5px;
      border-top: 1px solid rgba(47, 46, 46, 1);
    }

    @include media(tablet) {
      width: 390px;
      font-size: 13px;
    }

    @include media(mobile) {
      display: none;
    }
  }

  &__label {
    margin: 0 0 0 auto;
    width: 135px;
    text-align: right;
  }

  .slick-arrow {
    z-index: 1001;

    &::before {
      color: #FFFFFF;
      font-size: 40px;
    }
  }

  .slick-prev {
    left: -60px;
  }

  .slick-next {
    right: -40px;
  }
}