@import 'fonts';

@mixin media($point) {
  @if $point == desktop {
    @media screen and (min-width: 1400px) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (max-width: 1024px) {
      @content;
    }
  } @else if $point == adaptive {
    @media screen and (max-width: 1000px) {
      @content;
    }
  } @else if $point == mobile {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $point == phone {
    @media screen and (max-width: 480px) {
      @content;
    }
  } @else if $point == phone-small {
    @media screen and (max-width: 374px) {
      @content;
    }
  }
}

$Sans: 'Open Sans', Arial, sans-serif;
$Futura: futura-lt-w01-book, Arial, sans-serif;
$Verdana: Verdana, Geneva, Arial, sans-serif;

@import 'reset';
@import 'buttons';
@import 'social';
@import 'nav';
@import 'form';
@import 'header';
@import 'footer';

main {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: url(../img/shadow.png) repeat-x 0 0 #95a712;

  .video-bg {
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}

.content {
  position: relative;
  margin: 0 auto 50px auto;
  padding: 75px 45px 100px 45px;
  max-width: 1000px;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: italic normal normal 12px/15px $Sans;
  color: #282527;

  @include media(mobile) {
    margin: 0 auto 0 auto;
    padding: 20px 25px 50px 25px;
    min-height: 600px;
  }

  h1 {
    margin: 0 0 35px 0;
    font-size: 28px;
    line-height: normal;

    @include media(mobile) {
      text-align: center;
      font-size: 24px;
    }
  }

  h2 {
    margin: 10px 0 5px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: normal;

    @include media(mobile) {
      font-size: 20px;
    }
  }

  &_full-width {
    margin: 0;
    max-width: 100%;

    @include media(mobile) {
      margin: 0;
    }
  }
}

.breadcrumbs {
  font: normal normal normal 12px/16px $Verdana;
  margin: 0 0 10px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: top;
    }

    li + li:before {
      content: "/";
    }
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  margin: -30px 0 -30px 0;
  padding: 0;
  font: normal normal normal 12px/16px $Verdana;

  &__item {
    display: flex;
    align-items: flex-start;
    margin: 30px 0 30px 0;
    padding: 0;

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__row {
    @include media(mobile) {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  &__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 170px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(149, 167, 18, 1);
    border: 2px solid rgba(149, 167, 18, 1);

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__label {
    margin: 5px 0 0 0;
    padding: 0;
    max-width: 120px;
  }

  &__text {
    margin: 0 0 0 20px;
    padding: 15px 30px 15px 15px;
    background: url(../img/shadow.png) repeat-x 0 0 #dae39b;

    @include media(mobile) {
      margin: 0;
    }
  }
}

.contacts {
  background: rgba(255, 255, 255, 0.6);
  font: normal normal normal 16px/1.3em $Verdana;
  color: #535A0A;

  h1 {
    font: italic normal normal 34px/1.1em $Verdana;
    color: #282527;
  }

  a {
    color: #535A0A;
    text-decoration: none;
  }

  &__form {
    margin: 100px 40px 0 40px;

    @include media(mobile) {
      margin: 100px 10px 0 10px;
    }

    .form__input, .form__textarea {
      background-color: rgba(218, 227, 155, 0.6);
      color: rgb(83, 90, 10);

      &::placeholder {
        color: rgb(83, 90, 10);
      }
    }

    .form_error {
      background-color: rgba(251, 243, 243, 0.6);
    }

    .form__agree {
      text-shadow: none;
      color: #282527;

      a {
        color: #282527;
        text-decoration: underline;
      }
    }

    .check {
      color: #282527;

      &__box {
        background-color: rgba(218, 227, 155, 0.6);

        &_error {
          background-color: rgba(251, 243, 243, 0.6);
        }
      }
    }
  }
}

.articles {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: normal normal normal 14px/1.3em $Sans;
  color: #282527;

  h2 {
    margin: 0 55px 50px 55px;
    color: #535A0A;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;

    a {
      color: #535A0A;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: #dae39b;

    &:nth-child(odd) {
      background-color: #e8dfc5;

      .articles__image {
        order: 1;
      }
    }
  }

  &__image {
    margin: 0;
    padding: 0;
    max-width: 500px;
    min-width: 500px;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  &__row {
    padding: 40px 70px 30px 70px;
  }

  &__label {
    font-size: 12px;
    padding: 10px 0 0 0;
    font-style: italic;
  }

  @include media(desktop) {
    &__image {
      max-width: 600px;
      min-width: 600px;
    }

    &__row {
      padding: 50px 150px 50px 150px;
    }
  }

  @include media(tablet) {
    &__item {
      flex-direction: column;

      &:nth-child(odd) {
        .articles__image {
          order: 0;
        }
      }
    }

    &__image {
      min-width: auto;
    }

    &__row {
      padding: 20px 30px 30px 30px;
    }
  }

  @include media(mobile) {
    h2 {
      margin: 0 15px 25px 15px;
      font-size: 18px;
    }

    &__row {
      padding: 10px 30px 70px 30px;
    }
  }
}

.article {
  padding: 75px 15% 100px 15%;
  font: normal normal normal 14px/1.3em $Verdana;

  h1 {
    font: normal normal normal 34px/1.3em $Sans;
    color: #535A0A;

    @include media(mobile) {
      text-align: center;
      font-size: 24px;
    }
  }

  img {
    margin: 5px auto 10px auto;
  }

  @include media(desktop) {
    padding: 75px 25% 100px 25%;
  }

  @include media(tablet) {
    padding: 75px 10% 100px 10%;
  }
}

.mainpage-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px 0px -15px;
  padding: 50px 0 100px 0;
  background: url(../img/shadow.png) repeat-x 0 0, url(../img/grass.png) left bottom repeat-x #dae39b;
  font: normal normal normal 18px/1.3em $Sans;
  color: #252A04;
  text-align: center;

  a {
    color: #252A04;
    text-decoration: none;
  }

  &__item {
    display: block;
    margin: 0 15px 0 15px;
    padding: 0;
  }

  &__image {
    margin: 0 0 20px 0;
    overflow: hidden;
    border-radius: 15px;
    width: 320px;
    height: 426px;

    img {
      width: 100%;
      height: 100%;
      transition: all 1s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @include media(mobile) {
    margin: 0;
    padding: 50px 0 70px 0;

    &__item {
      margin: 0 0 30px 0;
    }

    &__image {
      margin: 0 0 10px 0;
    }
  }
}

.mainpage-text {
  margin: 0;
  padding: 20px 15% 20px 15%;
  background: url(../img/shadow.png) repeat-x 0 0 #FAFAFA;
  font: normal normal normal 16px/1.3em $Sans;
  color: #535A0A;

  a {
    font-weight: bold;
    color: #535A0A;
  }

  @include media(mobile) {
    padding: 20px 30px 20px 30px;
  }
}

.mainpage-news {
  margin: 0;
  padding: 5px 15% 5px 15%;
  background: url(../img/shadow.png) repeat-x 0 0 #dae39b;
  font: normal normal normal 12px/1.3em $Verdana;
  color: #282527;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: url(../img/shadow.png) repeat-x 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(16, 164, 227, 1);
  }

  &__title {
    margin: 0;
    padding: 20px 0 40px 0;
    font: italic bold normal 24px/1.1em $Sans;
    color: #535A0A;
    text-align: center;

    a {
      color: #535A0A;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin: 0 40px 20px 40px;
    padding: 0 0 20px 0;
    border-bottom: solid #000000 1px;

    &:last-child {
      border: none;
    }
  }

  &__image {
    margin: 0;
    padding: 0;
    max-width: 330px;
    min-width: 330px;
    height: 200px;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__row {
    margin: 0 0 0 35px;
    padding: 0;

    h3 {
      font: normal normal normal 18px/1.3em $Sans;
      color: #535A0A;
    }
  }

  &__label {
    color: #535A0A;
  }

  &__text {
    margin: 15px 0 0 0;
    padding: 0;
  }

  &__link {
    display: block;
    margin: 40px 0 0 0;
    padding: 3px 0 0 0;
    width: 160px;
    height: 40px;
    background-color: rgba(149, 167, 18, 1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    border: solid rgba(149, 167, 18, 1) 3px;
    border-radius: 5px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    font: normal normal normal 19px/1.4em $Sans;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: rgba(218, 227, 155, 1);
      border-color: rgba(218, 227, 155, 1);
      transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    }
  }

  @include media(tablet) {
    padding: 5px 30px 5px 30px;
  }

  @include media(mobile) {
    padding: 5px 30px 5px 30px;

    &__item {
      flex-direction: column;
      margin: 0 5px 20px 5px;
    }

    &__image {
      margin: 0 auto 0 auto;
      min-width: auto;
      height: auto;
    }

    &__row {
      margin: 0;
      padding: 0 2px 0 2px;

      h3 {
        margin: 15px 0 0 0;
        font-size: 16px;
      }
    }

    &__link {
      margin: 40px auto 0 auto;
    }
  }
}

.mainpage-advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 35px 15% 25px 15%;
  background: #dae39b;
  font: italic normal normal 14px/1.5em $Verdana;
  color: #FFFFFF;

  &__title {
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    font: italic bold normal 24px/1.1em $Sans;
    color: #535A0A;
    text-align: center;
  }

  &__item {
    margin: 0 0 10px 0;
    padding: 0;
    align-content: space-between;
    flex-basis: 32%;
    background: #514920;

    &:nth-child(5n-3) {
      background: url(../img/advantages.png) no-repeat 0 0 #85B354;
      background-size: cover;
    }

    &:nth-child(5n-2) {
      background: #535A0A;
    }

    &:nth-child(5n-1) {
      background: #999170;
    }

    &:nth-child(5n) {
      background: #95a712;
    }

    h3 {
      min-height: 40px;
      font: normal normal normal 15px/1.3em $Verdana;
      color: #DAE39B;
      text-align: center;
    }
  }

  &__image {
    margin: 10px auto 15px auto;
    padding: 0;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  &__text {
    margin: 30px 7px 10px 7px;
    padding: 0;
    font-family: georgia, palatino, book antiqua, palatino linotype, serif;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px black;

    a {
      color: #FFFFFF;
    }
  }

  @include media(tablet) {
    padding: 35px 30px 25px 30px;
  }

  @include media(mobile) {
    flex-direction: column;
    padding: 5px 30px 5px 30px;

    &__item {
      h3 {
        margin: 0 7px 0 7px;
      }
    }

    &__text {
      margin: 10px 7px 10px 7px;
    }
  }
}

.portfolio {
  margin: 0;
  padding: 0 0 50px 0;
  background: url(../img/shadow.png) repeat-x 0 0 white;
  font: italic normal normal 14px/1.1em $Sans;
  color: #535A0A;

  h1 {
    margin: 0;
    padding: 70px 0 50px 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: normal;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 20px 0 20px 0;

    form, h3 {
      z-index: 1;
    }

    h3 {
      margin: 0 0 20px 0;
      padding: 0;
      width: 100%;
      font: normal bold normal 23px/1.3em $Sans;
      color: #481E0E;
      text-align: center;
    }

    &_green {
      h3 {
        color: #DAE39B;
      }
    }
  }

  @include media(mobile) {
    &__form {
      h3 {
        margin: 0 10px 20px 10px;
        font-size: 20px;
      }
    }
  }
}

.portfolio-slider {
  width: 1120px;
  margin: 0 auto 0 auto;
  padding: 0;

  .slick-arrow::before {
    color: #535A0A;
  }

  &__image {
    position: relative;
    display: block;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 360px;
    height: 270px;
    border: solid 1px #DAE39B;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.4s ease 0s;
    }

    &:hover {
      &::before {
        background: rgba(0, 0, 0, 0.5);
        transition: background 0.4s ease 0s;
      }
    }

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include media(tablet) {
    width: 740px;
  }

  @include media(mobile) {
    width: 360px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  display: none;
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  opacity: 0.6;
  background-color: white;
  display: none;
}

.video-bg {
  position: absolute;
  width: 100%;

  @include media(tablet) {
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}

.text_big {
  padding: 8px 0 8px 0;
  font-size: 30px;

  @include media(adaptive) {
    padding: 5px 0 5px 0;
    font-size: 25px;
  }
}

.text_bold {
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}